@using System.Globalization
@using Microsoft.AspNet.Identity
@using ShopManagementSystem.Models.ViewModels
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Management System -Home</title>

    <!-- Bootstrap core CSS-->
    <link href="/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/Home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/Home/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/Home/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:#0288D1">

        @Html.ActionLink("Shop Management System", "Index", "Home", null, new { @class = "navbar-brand mr-1" })

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

       
        <ul class="navbar-nav ml-auto ml-md-ri">
            
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @ViewBag.UserName
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "dropdown-item" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
                        }
                    }

                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Authentication Screens:</h6>
                    <a class="dropdown-item" href="@Url.Action("Login","Account")">Login</a>
                    <a class="dropdown-item" href="@Url.Action("Register","Account")">Register</a>
                    <a class="dropdown-item" href="@Url.Action("Manage","Account")">Forgot Password</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Other Pages:</h6>

                    <a class="dropdown-item" href="@Url.Action("SaveCategory","Category")">Category Setup</a>
                    <a class="dropdown-item" href="@Url.Action("ViewAllCategories", "Category")">Show All Categories</a>
                    <a class="dropdown-item" href="@Url.Action("SaveCompany", "Company")">Category Setup</a>
                    <a class="dropdown-item" href="@Url.Action("ViewAllCompanies", "Company")">Show All Companies</a>
                    <a class="dropdown-item" href="@Url.Action("SaveItem", "Item")">Item Setup</a>
                    <a class="dropdown-item" href="@Url.Action("ViewAllItems", "Item")">Show All Items</a>
                    <a class="dropdown-item" href="@Url.Action("StockInItem", "Item")">Stock In</a>
                    <a class="dropdown-item" href="@Url.Action("StockOut", "Item")">Stock Out</a>
                    <a class="dropdown-item" href="@Url.Action("ViewAllStockOutItems", "Item")">Show All Stock Out</a>
                    <a class="dropdown-item" href="@Url.Action("SearchItemByCompanyOrCategory", "Item")">Search Items</a>
                    <a class="dropdown-item" href="@Url.Action("ViewSellsBetweenDates","ViewSellsBetweenDates")">View Sales by Dates</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Charts","Home")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Tables","Home")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Overview</li>
                </ol>

                <!-- Icon Cards-->
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-primary o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-list"></i>
                                </div>
                                <div class="mr-5">@ViewBag.TotalItem Total Items!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ViewAllItems","Item")">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-warning o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-shopping-cart"></i>
                                </div>
                                <div class="mr-5">@ViewBag.StockOut Stock Out!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ViewAllStockOutItems","Item")">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white o-hidden h-100" style="background-color: #7B1FA2">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-dollar-sign"></i>
                                </div>
                                <div class="mr-5">@ViewBag.Profit Monthly Profit!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ViewSellsBetweenDates","ViewSellsBetweenDates")">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    @{
                        if (ViewBag.Below > 0)
                        {
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-danger o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fas fa-fw fa-check"></i>
                                        </div>
                                        <div class="mr-5">@ViewBag.Below Below Reorder!</div>
                                    </div>
                                    <a class="card-footer text-white clearfix small z-1" href="@Url.Action("BelowReorderLevel","Home")">
                                        <span class="float-left">View Details</span>
                                        <span class="float-right">
                                            <i class="fas fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-success o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fas fa-fw fa-ok"></i>
                                        </div>
                                        <div class="mr-5">@ViewBag.Below Below Reorder!</div>
                                    </div>
                                    <a class="card-footer text-white clearfix small z-1" href="@Url.Action("BelowReorderLevel","Home")">
                                        <span class="float-left">View Details</span>
                                        <span class="float-right">
                                            <i class="fas fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        }
                    }

                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-chart-area"></i>
                                Yearly Total Sell Chart (For @ViewBag.Year)
                            </div>
                            <div class="card-body">
                                <canvas id="myAreaChart" width="100%" height="30"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-chart-pie"></i>
                                Monthly Profit (For @ViewBag.Year)
                            </div>
                            <div class="card-body">
                                <canvas id="myPieChart" width="100%" height="67"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                        <!-- DataTables Example -->
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table"></i>
                                Sold Items Data Table
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <td>Item Name</td>
                                                <td>Company Name</td>
                                                <td>Sold Date</td>
                                                <td>Quantity</td>
                                                <td>Discount</td>
                                                <td>Price</td>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td>Item Name</td>
                                                <td>Company Name</td>
                                                <td>Sold Date</td>
                                                <td>Quantity</td>
                                                <td>Discount</td>
                                                <td>Price</td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @{
                                                if (ViewBag.MonthlySold != null)
                                                {
                                                    foreach (StockOutViewModels items in ViewBag.MonthlySold)
                                                    {
                                                        <tr>
                                                            <td>@items.ItemName</td>
                                                            <td>@items.CompanyName</td>
                                                            <td>@items.Date</td>
                                                            <td>@items.Quantity</td>
                                                            <td>@items.Discount</td>
                                                            <td>@items.Price</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.container-fluid -->
                    <!-- Sticky Footer -->
                    <footer class="sticky-footer">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright © @ViewBag.Year -CrazyCoders</span>
                            </div>
                        </div>
                    </footer>

                </div>
                <!-- /.content-wrapper -->

            </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

 

    <!-- Bootstrap core JavaScript-->
    <script src="/Home/vendor/jquery/jquery.min.js"></script>
    <script src="/Home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/Home/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/Home/vendor/chart.js/Chart.min.js"></script>
    <script src="/Home/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/Home/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/Home/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="/Home/js/demo/datatables-demo.js"></script>

<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    var jan = '@ViewBag.Jan';
    var feb = '@ViewBag.Feb';
    var mar = '@ViewBag.Mar';
    var apr = '@ViewBag.Apr';
    var may = '@ViewBag.May';
    var jun = '@ViewBag.Jun';
    var jul = '@ViewBag.Jul';
    var aug = '@ViewBag.Aug';
    var sep = '@ViewBag.Sept';
    var oct = '@ViewBag.Oct';
    var nov = '@ViewBag.Nov';
    var dec = '@ViewBag.Dec';

    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
            datasets: [
                {
                    label: "Sessions",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 50,
                    pointBorderWidth: 2,
                    data: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec],
                }
            ],
        },
        options: {
            scales: {
                xAxes: [
                    {
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }
                ],
                yAxes: [
                    {
                        ticks: {
                            min: 0,
                            max: 40000,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    }
                ],
            },
            legend: {
                display: false
            }
        }
    });


    var prevTwo = '@ViewBag.prevTwoMonth';
    var prev = '@ViewBag.prevMonth';
    var rec = '@ViewBag.recMonth';

    var prevTwoName = '@ViewBag.prevTwoMonthName';
    var prevName = '@ViewBag.prevMonthName';
    var recName = '@ViewBag.MonthName';

    // Bar Chart Example
    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [prevTwoName, prevName, recName],
            datasets: [
                {
                    data: [prevTwo, prev, rec],
                    backgroundColor: ['#EC407A', '#FFCA28', '#26A69A'],
                }
            ],
        },
    });
</script>
</body>

</html>
